# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
.env
.env.*

# Django
*.log
db.sqlite3
media/
staticfiles/
*.pot
*.pyc

# VSCode
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Migrations (optional – comment this if you want to track migrations)
# **/migrations/
# !**/migrations/__init__.py

# Pytest / coverage
.coverage
.tox/
.cache/
.pytest_cache/
htmlcov/
